a.nav-link {
  font-size: 12px;
}

a.nav-link img {
  height: 20px;
}

a.nav-link:hover {
  color: #3777ff !important;
}

a.nav-link.active {
  color: #3777ff !important;
}

.angular-logo {
  height: 100px;
  max-width: 9.2rem;
}
